<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ title }}
        </ion-title>
    </ion-toolbar>
    <ion-searchbar
            [(ngModel)]="searchTerm"
            (ionChange)="setFilteredItems()">
    </ion-searchbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item *ngFor="let food of foods; let i = index" [routerLink]="'/calculator/'+food._id" routerDirection="forward">
            <span>{{ food.description }} ({{ food.phe_multiplier }})</span>
        </ion-item>
    </ion-list>
</ion-content>
